<p>Hey <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous te contactons pour te notifier que l'adresse mail liée à ton compte est en train d'être modifiée pour l'adresse suivante : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous te contactons pour te notifier que l'adresse mail liée à ton compte vient d'être modifiée pour l'adresse suivante : <%= @resource.email %>.</p>
<% end %>
