<p>Hey <%= @resource.email %>!</p>

<p>Quelqu'un a fait la demande de réinitialisation de mot de passe. Tu peux poursuivre cette demande en cliquant sur le lien suivant.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu n'es pas à l'origine de cette demande merci d'ignorer ce message ou de nous contacter directement.</p>
<p>Ton mot de passe ne sera pas modifié tant que tu ne seras pas allé sur le lien au dessus et qu'un nouveau mot de passe ait été créé.</p>
