<p>Hey <%= @resource.email %>!</p>

<p>Ton compte a été bloqué dû à un nombre trop élevé d'authentifications ratées.</p>

<p>Clique sur le lien suivant pour débloquer ton compte :</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
